/* =========================================
   ESTILOS PARA SAGA spiderman
   ========================================= */

/* Cabecera de la página */
.juego-header {
    text-align: center;
}

.juego-footer {
    text-align: center;
    margin-top: 40px;
}



/* El botón de volver */
.btn-volver {
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    border: 1px solid #444;
    transition: all 0.3s ease;
    background-color: #14c9e1;
}


.btn-volver:hover {
    background-color: #3a3a3a;
    border-color: #00ffcc; /* Toque neón al pasar el ratón */
    transform: translateX(-5px); /* Se mueve un poco hacia la izquierda */
}

/* imagen del título */
.titulo-juego {
    display: block;    /* 1. La convertimos en bloque rígido */
    margin: 0 auto;    /* 3. ¡LA MAGIA! Centrado automático */
}

/* Cuadrícula para los vídeos (Móvil por defecto) */
.video-grid {
    display: grid;
    grid-template-columns: 1fr; /* 1 columna en móvil */
    gap: 30px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto; /* Centra la cuadrícula en la pantalla */
   
}

/* Contenedor responsivo para que el iframe no se rompa */
.video-container {
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 9; /* Mantiene la proporción panorámica perfecta */
    background-color: #000; /* Fondo negro mientras carga el vídeo */
    border-radius: 12px;
    overflow: hidden; /* Corta las esquinas rectas del vídeo para que sean redondas */
    box-shadow: 20px 30px 40px rgba(0.9, 0.9, 0.9, 0.9);
    
}

/* Ajustamos el iframe para que llene el contenedor */
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

/* ESTILOS PARA EL NUEVO TEXTO */
.info-video {
    padding: 15px 10px; /* Un poco de aire alrededor del texto */
    text-align: left; /* Queda más profesional leer de izquierda a derecha */
}

.titulo-video {
    color: #ffffff;
    font-size: 1.3rem;
    margin: 0 0 8px 0; /* Margen solo por abajo para separarlo de la descripción */
    letter-spacing: 1px;
}


.desc-video {
    color: #bbbbbb; /* Un gris intermedio */
    font-size: 0.95rem;
    line-height: 1.5; /* Separa un poco las líneas para que se lea mejor */
    margin: 0;
}

/* 3. LA CAJA DE MÚSICA OSCURA */
.musica {
    border-radius: 12px;
    padding: 20px; /* Padding superior extra para no chocar con el icono */
    text-align: center;
    color: #ffffff;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.636);
}

.musica h2 {
    margin-top: 0;
    font-size: 1.5rem;
    color: #000000;
}

.musica p {
    font-size: 1rem;
    margin-bottom: 20px;
}

/* 4. LA LISTA DE CANCIONES (¡Sin puntos negros!) */
.lista-musica {
    list-style-type: none; /* ¡MAGIA! Borramos los puntos negros por defecto */
    padding: 0;
    margin: 0;
    text-align: left;
    margin-left: 3%;
}

.lista-musica li {
    margin-bottom: 15px; /* Separación entre canciones para que respiren */
}

.lista-musica a {
    color: #fafcfc; 
    font-size: 1rem;
    transition: color 0.3s ease;
    text-decoration: none;
}

.lista-musica a:hover {
    color: #0c0c0c; /* Se vuelve blanco al pasar el ratón */
}

.linea-divisoria {
    border: none; /* 1. Quitamos el diseño antiguo del navegador */
    height: 3px; /* 2. El grosor de la línea */
    background-color: #000000; /* 3. El color de tu paleta de Miles Morales */
    width: 80%; /* 5. Hace que no toque los bordes de la pantalla (queda más elegante) */
    border-radius: 5px; /* 6. Suaviza las puntas haciéndolas redondas */
}

.video-placeholder {
    width: 100%;
    aspect-ratio: 16 / 9; /* Mantiene la forma del vídeo */
    background: linear-gradient(45deg, #1a1a1a, #333);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    border: 2px dashed #444; /* Estilo de 'hueco por rellenar' */
    color: #888;
}

.texto-proximamente {
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 2px;
}

.fecha-estreno {
    font-size: 0.9rem;
    margin-top: 10px;
    color: #ff0000; /* El rojo de Spider-Man para resaltar la fecha */
}

/* =SPIDERMAN===========SPIDERMAN===================SPIDERMAN=================== */

/* FUENTES */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200..700&family=Permanent+Marker&family=Rock+Salt&display=swap');

body.spiderman {
    background-color: #b40b0d;
}

.morales-grid {
    background-color: #17363a;
    border-radius: 20px;
}

.spiderman-grid {
    background-color: #1A233B;
    border-radius: 20px;
}

.btn-morales {
    background-color: #17363a;
    font-family: 'Rock Salt', cursive;
}

.btn-spiderman {
    background-color: #1A233B;
    font-family: 'Rock Salt', cursive;
}

.morales-titulo{
    width: 55%;
        margin-top: 40px;
        background-color: #17363a;
        border-radius: 20px 20px 0 0;
        padding: 0 8% 0 8%;
    }


.spiderman-titulo{
    width: 60%;
    margin-top: 40px;
    background-color: #1A233B;
    border-radius: 20px 20px 0 0;
}

.morales-musica{
    border-radius: 12px;
    padding: 20px; /* Padding superior extra para no chocar con el icono */
    text-align: center;
    color: #ffffff;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.636);
    font-family: "Permanent Marker", cursive;
    color: #cf1919;
    
}

.spiderman-musica{
    border: 4px solid #1A233B; /* Borde azulado */
     font-family: "Permanent Marker", cursive;
     color: #ac1717;
   
}
/* JEDI ================= JEDI ================= JEDI */

body.jedi {
    background-color: #36271f;
}

.jedi-btn {
    margin-top: 10px;
    background-color: #d2923a;
    color:#36271f
}

.jedi1-titulo{
margin-top: 20px;
    width: 55% !important; /* El  obliga a que esta regla mande sobre las demás */
    height: auto; /* Asegúrate de que el alto sea automático para no deformarla */
}

.jedi2-titulo{
    width: 55% !important;
    /* background-color: #888; */
    margin-top: 20px;
    margin-bottom: 40px;
}

.jedi1-container {
  border: 2px solid #00BFFF; /* Azul Cyan */
  box-shadow: 
    0 0 5px #00BFFF,      /* Brillo interno */
    0 0 10px #00BFFF,     /* Brillo medio */
    0 0 20px #00BFFF,     /* Brillo externo */
    0 0 40px #00BFFF;     /* Resplandor */
}

.jedi2-container {
  border: 2px solid #32CD32; /* Verde Lima/Sable */
  box-shadow: 
    0 0 5px #32CD32,
    0 0 10px #32CD32,
    0 0 20px #32CD32,
    0 0 20px #32CD32;
}

.jedi-musica {
    background: #6b4b1e; /* Un fondo más sutil para que no pese tanto visualmente */
    border: 1px solid #d99b45; /* Un borde fino con tu color de Miles */
    font-family: "Permanent Marker", cursive;
    color: #d2923a;
}

.jedi-lista-musica {
    color: rgb(214, 219, 223);
}

/*  ================= Mass Effect ================= */


body.massEffect {
    background-color: rgb(1, 1, 39); /* Color de seguridad por si falla la imagen */
}



/* Ahora ajusta el contenedor a un tamaño razonable */
.effect2-titulo {
    margin: 20px auto; 
    width: 250px;      
    max-width: 90%;    
}

.effect3-titulo{
    margin: 20px auto; 
    width: 300px;      
    max-width: 90%; 
}

.effect4-titulo{
    margin: 20px auto; 
    width: 250px;      
    max-width: 90%; 
}

.todo-massEffect2 {
    background-color: rgb(218, 108, 11); /* Color de seguridad por si falla la imagen */
    background-image: url('../img/monitor/fondomass2.jpg');
    background-size: cover;    /* Para que cubra toda la pantalla sin repetirse feo */
    background-attachment: fixed; /* Para que el fondo no se mueva al hacer scroll */
    background-position: center;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5); /* Un resplandor suave para darle un toque espacial */
}

.todo-massEffect3 {
    background-color: rgb(218, 108, 11); /* Color de seguridad por si falla la imagen */
    background-image: url('../img/monitor/fondomass3.jpg');
    background-size: cover;    /* Para que cubra toda la pantalla sin repetirse feo */
    background-attachment: fixed; /* Para que el fondo no se mueva al hacer scroll */
    background-position: center;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5); /* Un resplandor suave para darle un toque espacial */
}

.todo-massEffect4 {
    background-color: rgb(218, 108, 11); /* Color de seguridad por si falla la imagen */
    background-image: url('../img/monitor/fondomass4.jpg');
    background-size: cover;    /* Para que cubra toda la pantalla sin repetirse feo */
    background-attachment: fixed; /* Para que el fondo no se mueva al hacer scroll */
    background-position: center;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5); /* Un resplandor suave para darle un toque espacial */
}


.massEffect-btn {
    margin-top: 10px;
    background-color: #040c39;
    color:#ebe6e3
}


.effect2-container {
  border: 2px solid #ef6013; /* Azul Cyan */
  box-shadow: 
    0 0 5px #ef6013,      /* Brillo interno */
    0 0 10px #ef6013,     /* Brillo medio */
    0 0 15px #ef6013,     /* Brillo externo */
    0 0 15px #ef6013;     /* Resplandor */
}

.effect3-container {
  border: 2px solid #e63c3c; /* Verde Lima/Sable */
  box-shadow: 
    0 0 5px #e63c3c,
    0 0 10px #e63c3c,
    0 0 15px #e63c3c,
    0 0 15px #e63c3c;
}

.andro-container {
  border: 2px solid #8c98f5; /* Verde Lima/Sable */
  box-shadow: 
    0 0 5px #8c98f5,
    0 0 10px #8c98f5,
    0 0 15px #8c98f5,
    0 0 15px #8c98f5;
}

.massEffect-musica {
    background: #040c3998; /* Un fondo más sutil para que no pese tanto visualmente */
    border: 1px solid #707ee8; /* Un borde fino con tu color de Miles */
    font-family: "Permanent Marker", cursive;
    color: #707ee8;
}

.massEffect2-info{
    background-color: #52200399;
    border-radius: 20px;
} 

.massEffect3-info {
    background-color: #52030399;
    border-radius: 20px;
} 

.massEffect4-info {
    background-color: #35055699;
    border-radius: 20px;
} 
/* =========================================
   ESTILO DE LA LÍNEA SEPARADORA
   ========================================= */


/* Pantallas grandes (Tablets y Monitores) */
@media (min-width: 768px) {

    .video-grid {
        display: grid;
        /* Crea 2 columnas iguales (1 fracción cada una) */
        grid-template-columns: repeat(2, 1fr); 
        gap: 30px; /* Añade un espacio de 30px entre los vídeos */
        padding: 40px; /* Da un poco de aire alrededor de la cuadrícula */
    }

/* =SPIDERMAN===========SPIDERMAN===================SPIDERMAN=================== */

    .morales-titulo{
        width: 30%;
        margin-top: 40px;
        background-color: #17363a;
        border-radius: 20px 20px 0 0;
        padding: 0 2% 0 2%;
        margin-left: 5%;/* Ajusta el padding para centrar el texto dentro del título */
    }

    .musica{
        margin-left: auto;
        margin-right: auto;
        display: block;    /* 1. La convertimos en bloque rígido */
        width: 70%;        
        grid-column: 1 / -1; /* Esto le dice: 'ocupa desde la columna 1 hasta el final' */
        margin-top: 40px;
    }

    .spiderman-titulo{
        width: 36%;
        margin-top: 40px;

    }
}

/* JEDI ================= JEDI ================= JEDI */

    .jedi1-titulo{
        margin-top: 20px;
        width: 34% !important ;
        /* background-color: #888; */
    }

    .jedi2-titulo{
        width: 33% !important;
        /* background-color: #888; */
        margin-top: 40px;
        margin-bottom: 40px;
    }

/* mass effect ================= mass effect ================= mass effect */
.effect2-titulo {
    margin: 20px auto; 
    width: 350px;      
    max-width: 90%;    
}

.effect3-titulo{
    margin: 20px auto; 
    width: 400px;      
    max-width: 90%; 
}

.effect4-titulo{
    margin: 20px auto; 
    width: 350px;      
    max-width: 90%; 
}



 /* 3. PANTALLAS GRANDES (Monitores: 1024px o más)
   ========================================= */
@media (min-width: 1024px) {

    .titulo-video {
        font-size: 1.8rem;
    }

    .video-grid {

        grid-template-columns: repeat(4, 1fr); 
        max-width: 1700px; /* Evita que la web se estire infinitamente en monitores gigantes */
        margin: 0 auto; /* Centra toda la cuadrícula en la pantalla */
    }

    .desc-video {
        color: #bbbbbb; /* Un gris intermedio */
        font-size: 1rem;
        line-height: 1.5; /* Separa un poco las líneas para que se lea mejor */
        margin: 0;
    }

    .musica p {
        font-size: 1.2rem;
    }

    .musica{
        margin-left: auto;
        margin-right: auto;
        display: block;    /* 1. La convertimos en bloque rígido */
        width: 50%;        
        grid-column: 1 / -1; /* Esto le dice: 'ocupa desde la columna 1 hasta el final' */
        margin-top: 40px;
    }

    .lista-musica {
        list-style-type: none; /* ¡MAGIA! Borramos los puntos negros por defecto */
        padding: 0;
        margin: 0;
        text-align: left;
        margin-left: 26%;
}


/* =SPIDERMAN===========SPIDERMAN===================SPIDERMAN=================== */

    .morales-titulo{
        width: 26%;
        margin-top: 40px;
        background-color: #17363a;
        border-radius: 20px 20px 0 0;
        padding: 0 2% 0 2%;
        margin-left: 5%;/* Ajusta el padding para centrar el texto dentro del título */
    }

    .spiderman-titulo{
        width: 33%;
        margin-top: 40px;
    }
    
    .morales-musica {
        background: #153135; /* Un fondo más sutil para que no pese tanto visualmente */
        border: 1px solid #ac1717; /* Un borde fino con tu color de Miles */
    }

    .spiderman-musica {
        background: #151d30; /* Un fondo más sutil para que no pese tanto visualmente */
        border: 1px solid #ac1717; /* Un borde fino con tu color de Miles */
    }
}

/* JEDI ================= JEDI ================= JEDI */

    .jedi1-titulo{
        margin-top: 20px;
        width: 22% ;
        /* background-color: #888; */
    }

    .jedi2-titulo{
        /* background-color: #888; */
        margin-top: 20px;
        width: 22% ;
        margin-bottom: 40px;
    }

/* mass effect ================= mass effect ================= mass effect */
.effect2-titulo {
    margin: 20px auto; 
    width: 450px;      
    max-width: 90%;    
}

.effect3-titulo{
    margin: 20px auto; 
    width: 500px;      
    max-width: 90%; 
}

.effect4-titulo{
    margin: 20px auto; 
    width: 450px;      
    max-width: 90%; 
}


